<div class="container information-table">
    <table class="table table-responsive">
        <thead>
            <tr>
                {{#each headRow}}
                    <th>{{title}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each row}}
               {{> informationRow }}
            {{/each}}
        </tbody>
        <tfoot>
        <tr>
            {{#each footer}}
                {{#if function}}
                    <td><button onclick="{{function}}">{{content}}</button></td>
                {{else}}
                    <th>{{content}}</th>
                {{/if}}
            {{/each}}
        </tr>
        </tfoot>
    </table>
</div>