{% extends 'pages/pageWithNavbar.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/selectForm.css') }}">
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="header">
        <img class="logo" width="150px"  src={{  asset("ressources/zenity_IA.png") }} >
    </div>

    <form id="select-report-form" name="form" class="form-inline select-base" method="GET" action="{{ path('generateCompleteReport') }}">
        <div class="container form-box-container">
            <fieldset class="form-group ">
                <legend>Select your database and generate a report</legend>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="row-title" for="clientList">Client: </label>
                                <select class="row-content" name="clientId" id="clientList">
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <div class='zenity-brand'>Zenity</div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="row-title" for="baseList">DataBase: </label>
                            <select class="row-content" name="baseId" id="baseList">
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <div class="row-title">Version:</div>
                            <div class="row-content" id="version"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="row-title" for="instanceList">Server : </label>
                            <select class="row-content" name="instanceId" id="instanceList">
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <div class="row-title">snapshots count: </div>
                            <div class="row-content" id="snapshot-count"></div>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3 fieldset-center">
                        <div class="row">
                            <input disabled value="" class="expended" id="datepicker" type="text" name="date"/>
                        </div>
                    </div>
                    <div class="col-sm-2 fieldset-center text-center">
                        <button class="center" disabled type="submit" id="form_submit" name="select">Generate</button>
                    </div>
                        <div class="col-sm-4">
                            <label class="row-title" for="byol">Byol licence: </label>&nbsp&nbsp
                            BYOL
                            <input type="checkbox" id="byol" name="byol" value="no-licence" /><br />
                            <label class="row-title" for="edition">Edition type: </label>&nbsp&nbsp
                            <input type="radio" id="vm" name="licence" value="vm" checked>VM&nbsp&nbsp
                            <input type="radio" id="bmx5" name="licence" value="bmx5">BM X5&nbsp&nbsp
                            <input type="radio" id="bmx7" name="licence" value="bmx7">BM X7
                        </div>
                </div>
            </fieldset>
        </div>

    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/moment.min.js') }}"></script>
    <script src="{{ asset('vendor/daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('js/selectReport.js') }}"></script>
{% endblock %}
