<div id="{{ id }}" class="unbreakable">
    <div class="row">
        <div class="col-sm-12 col-sm-12 text-center">
            <h2>{{ title-0 }}</h2>
            <div id="{{id}}-5"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-1 "></div>
        <div class="col-md-2 col-sm-2  text-center ">
            <h3 > <a onclick="updateNote('{{ title-1 }}')">{{ title-1 }}</a> </h3>
            <div id="{{id}}-0"></div>
        </div>
        <div class="col-md-2 col-sm-2  text-center ">
            <h3> <a onclick="updateNote('{{ title-2 }}')">{{ title-2 }}</a> </h3>
            <div id="{{id}}-1"></div>
        </div>
        <div class="col-md-2 col-sm-2  text-center ">
            <h3> <a onclick="updateNote('{{ title-3 }}')">{{ title-3 }}</a> </h3>
            <div id="{{id}}-2"></div>
        </div>
        <div class="col-md-2 col-sm-2  text-center ">
            <h3> <a onclick="updateNote('{{ title-4 }}')">{{ title-4 }}</a> </h3>
            <div id="{{id}}-3"></div>
        </div>
        <div class="col-md-2 col-sm-2  text-center ">
            <h3> <a onclick="updateNote('{{ title-5 }}')">{{ title-5 }}</a> </h3>
            <div id="{{id}}-4"></div>
        </div>
        <div class="col-md-1 col-sm-1 "></div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div id="{{id}}-6"></div>
        </div>
    </div>
</div>
<script>
    function updateNote(noteName){
        subgraph = charty.objects["{{lineGraphId}}"];
        subgraph.update(noteName,{});
    }
</script>