<!-- "Information bar": contain Periode, BD Name, Instance name, Db Version -->
<div class="panel panel-primary unbreakable" id="information-banner">
    <div class="panel-heading">Information client: <b>{{ clientName }}</b></div>
    <div class="panel-body">
        <div class="information" ><span>Période: </span><span class="information">{{ startDate }} au {{ endDate }}</span></div>
        <div class="information" ><span>Base: </span><span>{{ baseName }}</span></div>
        <div class="information" ><span>Instance: </span><span>{{ instanceName }}</span></div>
        <div class="information" ><span>Version: </span><span>{{ baseVersion }}</span></div>
        <!--<div class="information" ><span>Edition: </span><span>{{ fullEditionInfos }}</span></div>-->
        <div class="information" ><span>Serveur: </span><span>{{ serverName }}</span></div>
        <div class="information" ><span>Edition: </span><span>{{ Edition }}</span></div>
        <!--<div class="information" ><span>cpuCount: </span><span>{{ cpuCount }}</span></div>-->
      </div>
</div>
