<div id="{{ id }}" class="unbreakable">
    <h3>{{ title }}</h3>
    <h4>{{ subtitle }}</h4>
    <div class="row">
        <div class="col-sm-3">
            <div id="{{id}}-0"></div>
        </div>
        <div class="col-sm-9">
            <div id="{{id}}-1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="{{id}}-2"></div>
        </div>
    </div>
</div>