<tr id="client-{{name}}">
    <td> {{ name }}</td>
    <td>{{ nbBase }}</td>
    <td>{{ nbSnapshot }}</td>
    <td>{{ registrationDate }}</td>
    <td><button class="btn-danger" onclick="deleteClient('{{name}}')">delete</button></td>
</tr>