{% extends 'base.html.twig' %}
{% block title %}Interface de gestion{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/BOmenu.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/jquery-ui/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/daterangepicker/daterangepicker.css') }}">

    {% endblock %}
    {% block banner %}
    {% endblock %}
{% block menu %}
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{{ appli_url }}">
                        Zenity
                    </a>
                </li>
                <li>
                    <a href="{{ url('noteManager') }}">Notes</a>
                </li>
                <li>
                    <a href="{{ url('manageClient') }}">Clients</a>
                </li>
                <li>
                    <a href="{{ url('gestion_account') }}">Comptes</a>
                </li>
                <li>
                    <a href="{{ url('gestion_log') }}">Logs</a>
                </li>
                <li>
                    <a href="{{ url('gestion_client') }}">API</a>
                </li>
                <li>
                    <!--<a href="{{ url('gestion_cloud') }}">cloud</a>-->
                </li>
                <li>
                    <a href="{{ url('gestion_cloud') }}">cloud</a>
                </li>
                <li>
                    <a href="{{url('jms_jobs_overview')}}">CronTab</a>
                </li>
            </ul>
        </div>

{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/handlebars.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-ui/jquery-ui.min.js' ) }}"></script>
    <script src="{{ asset('vendor/moment.min.js') }}"></script>
    <script src="{{ asset('vendor/daterangepicker/daterangepicker.js' ) }}"></script>
{% endblock %}
