{% extends 'gestion/homePage.html.twig' %}

{% block title %}Gestion des notes{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('noteForm/template/style.css') }}">
    {% endblock %}
{% block body %}
    {{ parent() }}
    <div id="noteForm"></div>
    {% include 'gestion/form/scheduleNote.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('noteForm/registerPartials.js') }}"></script>
    <script src="{{ asset('noteForm/loadForm.js') }}"></script>
    <script src="{{ asset('noteForm/update.js') }}"></script>
{% endblock %}